.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition-property: visibility;
  visibility: visible;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  z-index: 999;
}
.modal {
  border: 1px solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 90vh;
  max-height: 750px;
  width: 100vw;
  max-width: 450px;
  margin: auto;
  margin-top: 30px;
  background: white;
  visibility: visible;
  transition-property: visibility opacity;
  transition-duration: 2s;
  overflow-x: hidden;
  z-index: 999;
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__values {
    display: flex;
    flex-direction: column;
  }
}
.is-hidden {
  display: none;
}
