td {
  width: 108px;
  // border: solid 1px #000000;
}
p {
  display: inline-block;
  margin: 0;
}
.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: fit-content;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 999;
}
.modal {
  position: fixed;
  top: 0;
  left: 15vw;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: fit-content;
  width: 280px;
  margin: 20 auto;
  background: white;
  overflow-x: hidden;
  z-index: 999;
&__btnClose {
  background: none;
  border: none;
  position: relative;
  left: 250px;
  top: 16px;
  &:hover {
    cursor: pointer;
  }
}
  &__table {
    margin: 20px;
  }
  &__values {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  &__voteCell {
    width: 20px;
  }
  &__vote {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #FF6B01;
    color: #FFFFFF;
    width: 36px;
    border-radius: 5px;
    margin: 0;
  }
  &__votes {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    
  }
  &__popularity { 
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__originalTitle { 
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__genre { 
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__poster {
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__moviePoster {
    width: 240px;
    height: 357px;
  }
  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: black;
    margin: 20px;
  }
  &__scores {
    color: #8C8C8C;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
 
  &__subtitle {
    display: inline-block;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4px 20px;

  }
  &__about {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin: 4px 20px 20px 20px;
  }
  &__Btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__btnWatched {
    width: 110px;
    height: 44px;
    background: none;
    font-family: 'Robot',sans-serif;
    font-weight: 500;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    &:hover { 
      color: #FFFFFF;
      border: 1px solid #FF6B01;
      background: #FF6B01;
      }
    }
  &__btnQueue {
      width: 110px;
      height: 44px;
      background: none;
      font-family: 'Robot',sans-serif;
      font-weight: 500;
      color: #000000;
      border: 1px solid #000000;
      border-radius: 5px;
      cursor: pointer;
      &:hover { 
        color: #FFFFFF;
        border: 1px solid #FF6B01;
        background: #FF6B01;
      }
    }
}
.is-hidden {
  display: none;
}


// .loader-hidden{
// display: none;
// }

.aktiv {
background-color: #FF6B01;
}