@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(1.7, 1.7);
  }
}

@keyframes credits {
  0% {
    transform: translate(0px, 600px);
  }
  100% {
    transform: translate(0px, -600px);
  }
}

.container-footer {
  background-color: #f7f7f7;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;

  @include tablet {
    height: 77px;
    gap: 0px;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }

  &__flex-part {
    text-align: center;
  }

  &__plain-text,
  &__group-uri {
    color: #545454;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.17px;
    align-items: center;
  }

  &__image {
    margin-right: 10px;
    margin-left: 10px;
  }

  &__heart {
    animation: beat 1.5s infinite ease 0s;
  }

  &__group-uri {
    text-decoration: underline;
    cursor: pointer;
  }

  @include tablet {
    font-size: 16px;
  }
}

.modal-footer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    position: relative;
    top: 50%;
    margin: -300px auto;
    padding: 20px;
    width: 80%;
    height: 600px;
    text-align: center;
    overflow: hidden;
    background: radial-gradient(ellipse at top left, #1f2021 0%, #51131e 100%);
    color: #fff;
  }

  &__credits {
    animation: credits 30s linear infinite;
    h1 {
      font-size: 60px;
    }

    h2,
    p li {
      line-height: 1em;
    }

    h2 {
      line-height: 1.2em;
      margin-top: 32px;
    }
  }

  .close-footer {
    position: relative;
    z-index: 1;
    float: right;
  }

  .close-footer:hover,
  .close-footer:focus {
    cursor: pointer;
  }
}
