ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.headerbg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  width:100%;
  margin: 0 auto 60px auto;
  background-image: url(../images/tlo320.png);
  opacity: 1;
 


@include tablet {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/tloheader.jpg);

 
opacity: 1.0;
  height:216px ;
  width: 100%;
  

}

  @include desktop{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  background-image: url(../images/tloheader.jpg);

 height: 216px;
 max-width: 1280px;
  }
}

.img-film {
  // 
  margin-top: 45px;
  width: 24px;
  height: 24px;
}
.filmoteka {
display: none;
@include tablet{
  display: inline;
  font-family: 'Roboto',sans-serif;
font-weight: 500;
  margin-top: 45px;
  color: white;
  font-size: 30px;
  margin-right: 30px;
}
  @include desktop {
    display:inline;
font-family: 'Roboto',sans-serif;
font-weight: 500;
  margin-top: 45px;
  color: white;
  font-size: 30px;
  margin-right: 220px;
  }
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.header-flex li {
  display: flex;
  align-items: center;
}

.header_home{
  font-family: 'Roboto',sans-serif;
font-weight: 500;
  margin-top: 45px;
  color: white;
  margin-right: 15px;
  padding-bottom: 3px;
  @include tablet {
  font-family: 'Roboto',sans-serif;
font-weight: 500;
  margin-top: 45px;
  color: white;
  margin-right: 39px;

  }
  @include desktop {
    font-family: 'Roboto',sans-serif;
  font-weight: 500;
    margin-top: 45px;
    color: white;
    margin-right: 39px;
    }
}

.flex-end{
display: flex;
flex-direction: row;

}
.header_library {
  font-family: 'Roboto',sans-serif;
font-weight: 500;
  margin-top: 45px;
  margin-right: 32px;
  color: white;
  padding-bottom: 3px;
}

.header_input {
 
  display: flex;
  align-items: center;
  justify-content: center;
  // background: url(../images/tloinputa.png);
  margin-top: 50px;
}

.input {

  // background: url(../images/tloinputa.png);
  background: none;
  // opacity: 0.3;
  width: 240px;

  height: 20px;
  border: none;
  color: white;
  padding: 5px;
  @include tablet {
    width: 290px;
  // background: url(../images/tloinputa.png);
  background: none;

  }
  @include desktop {
    width: 290px;
    // background: url(../images/tloinputa.png);
    background: none;
  
  }
}



  //  .pagination {
  //     display: flex;
  //     justify-content: center;
  //     margin-top: 20px;
    
  //     ul {
  //       list-style-type: none;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //     }
    
  //     li {
  //       margin: 0 5px;
  //     }
    
  //     button {
  //       padding: 8px 16px;
  //       font-size: 16px;
  //       background-color: #f9f9f9;
  //       border: 1px solid #ddd;
  //       border-radius: 4px;
  //       cursor: pointer;
  //     }
  //   }

    .button-form{
      // background: url(../images/tloinputa.png);
      background: none;
      
      border: none;
    }
    .div-form {
      border-bottom: 1px solid white;
      text-align: center;
      background: none;
    }

  .icon-search {
    background: none;
  }

    .input:focus{
      outline: none;
    }


    .notitle{
      font-size: 14px;
      color:#FF001B;
      text-align: center;

    }

    .is-activ {
      border-bottom: 3px solid red

    }