@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body.dark__theme .link {
  color:white
}


a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.arrow-left {
  fill: #000;
}
.arrow-right {
  fill: #000;
}
.button {
  border: none;
  background-color: none;
  color: none;
  border-radius: 5px;
}

.dots {
  display: none;
}

.startBtn,
.endBtn {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
}
.prevNext {
  background-color: #fff;
  display: none;
}

.link {
  padding: 10px 15px 10px 15px;
  width: 40px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.link.active {
  border-radius: 5px;
  background-color: #ff6b08;
  color: #fff;
}
.links {
  column-gap: 16px;
  font-family: 'Roboto';
}

.invisible {
  display: none;
}

@include tablet {
  .dots {
    display: contents;
    padding: 10px 15px 10px 15px;
  }
}
