@import './mixin';
@import './header';
@import './loader';
@import './library';
@import './moviesGallery';

@import './pagination';

@import './switchDarkMoon';

@import './details';
@import './footer';

