<div class="backdrop is-hidden">
  <div class="modal">
    <button type="button" class="modal__btnClose">X</button>
    <img class="modal__moviePoster" />
    <h2 class="modal__title">Title</h2>
    <p class="modal__votes">Vote / Votes</p>
    <p class="modal__popularity">Popularity</p>
    <p class="modal__originalTitle">Original Title</p>
    <p class="modal__genre">Genre</p>
    <span class="modal__subtitle">ABOUT</span>
    <p class="modal__about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem sed non laboriosam minus
      nisi cum voluptatum cumque reprehenderit iste.
    </p>
    <button type="button" class="modal__btnWatched">Add to watched</button>
    <button type="button" class="modal__btnQueue">Add to queue</button>
  </div>
</div>
