<div class="container-footer">
  <div class="container-footer__flex-part-1">
    <p class="container-footer__data">&#169; 2020 | All Rights Reserved |</p>
  </div>
  <div class="container-footer__flex-part-2">
    <p class="container-footer__data-part-2">Developed with</p>
    <p class="container-footer__image">
      <svg class="container-footer__heart" width="14" height="12.75">
        <use href="./images/icons.svg#icon-Heart"></use>
      </svg>
    </p>

    <p class="container-footer__group-name">
      <span class="container-footer__group-name__part-1">by</span>
      <span onclick="openModal()" class="container-footer__group-name__part-2">Team Alfa</span>
    </p>
  </div>
</div>
<div class="modal">
  <div class="modal-content">
    <span class="close"></span>
    <p><span class="group-name">Treść modala</span><span class="group-members"></span></p>
  </div>
</div>
