<div class="container-footer">
  <div class="container-footer__flex-part">
    <span class="container-footer__plain-text">&#169; 2020 | All Rights Reserved |&nbsp;</span>
  </div>
  <div class="container-footer__flex-part">
    <span class="container-footer__plain-text">Developed with</span>
    <span class="container-footer__image">
      <svg class="container-footer__heart" width="14" height="12.75">
        <use href="./images/icons.svg#icon-Heart"></use>
      </svg>
    </span>

    <span class="container-footer__plain-text">by</span>
    <span class="container-footer__group-uri open-modal">Team Alfa</span>
  </div>
</div>
<div class="modal-footer">
  <div class="modal-footer__content">
    <span class="close-footer close-modal"
      ><svg class="close-icon" width="30" height="30">
        <use href="./images/icons.svg#close-icon"></use>
      </svg>
    </span>
    <div class="modal-footer__credits">
      <h1>Team Alfa</h1>
      <h2>Team Leader</h2>
      <p class="team-leader">Rafał Chojnacki</p>

      <h2>Scrum Master</h2>
      <p class="scrum-master">Michał Zaborowski</p>
      <h2>Developers</h2>
      <p class="developers-name">Jonasz Janicki</p>
      <p class="developers-name">Miachał Leszczyk</p>
      <p class="developers-name">Mikołaj Leśniczuk</p>
      <p class="developers-name">Sara Motyka</p>
      <p class="developers-name">Tamara Murcia Pienkowski</p>
      <p class="developers-name">Julita Żochowska</p>
    </div>
  </div>
</div>
