<div class="container">
  <button class="button startBtn" id="prevBtn" type="button" disabled>
    <svg class="arrow-left" width="16" height="16">
      <use href="./images/icons.svg#arrow-left"></use>
    </svg>
  </button>
  <div class="links">
    <a href="#" class="link active">1</a>
    <span class="dots">...</span>
    <a href="#" class="link">2</a>
    <a href="#" class="link">3</a>
    <a href="#" class="link">4</a>
    <a href="#" class="link">5</a>
    <a href="#" class="link">6</a>
    <a href="#" class="link">7</a>
    <a href="#" class="link">8</a>
    <a href="#" class="link">9</a>
    <a href="#" class="link">10</a>
    <a href="#" class="link">11</a>
    <a href="#" class="link">12</a>
    <a href="#" class="link">13</a>
    <a href="#" class="link">14</a>
    <a href="#" class="link">15</a>
    <a href="#" class="link">16</a>
    <a href="#" class="link">17</a>
    <a href="#" class="link">18</a>
    <a href="#" class="link">19</a>
    <span class="dots">...</span>
    <a href="#" class="link">20</a>
  </div>
  <button class="button endBtn" id="nextBtn" type="button">
    <svg class="arrow-right" width="16" height="16">
      <use href="./images/icons.svg#arrow-right"></use>
    </svg>
  </button>
</div>
